body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-size: calc(10px + 2vmin);
  width: 100%;
  min-height: 100vh;
  background: peru;
  /* display: grid; */
  text-align: center;
}

.container {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.songs__all {
  width: 40%;
  display: inline-block;
  vertical-align: top;
}

.song__marked {
  width: 40%;
  display: inline-block;
}

.dropdown {
  display: none;
  width: 400px;
  max-height: 200px;
  overflow: scroll;
  margin: auto;
  background: gray;
}

.dropdown.active {
  display: block;
  transition: all ease-in .5s;
}

.dropdown__item {
  list-style: none;
}

.playlist__zone {
  height: 100px;
}

header {
  display: flex;
  flex-wrap: wrap;
}


.btn-play {
  cursor: pointer;
}


/*
  Controls
*/

.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 1;
  order: 2;
}

.time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  flex: initial;
}

.time__duration {
  flex-basis: 300px;
  margin: 12px;
}

.duration {
  position: relative;
}

.duration__elapsed {
  position: absolute;
  background: red;
  -webkit-appearance: none;
  left: 0;
  width: 100%;
  border-radius: 5px;
}

.duration__elapsed::-webkit-slider-thumb {
  -webkit-appearance: none;
  color: blue;
  background: blue;
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 10px;
  cursor: pointer;
}

.song__info {
  min-height: 50px;
  flex: 1;
  order: 0;
}

@media screen and (min-width: 767px) {
  .container {
    width: 33%;
  }

  
  .controls {
    flex-wrap: nowrap;
    order: 0;
  }

  .time {
    width: 20%;
    order:1;
    flex: 1;
  }

  .song__info {
    order:2;
  }

}