:root {
  --bg-color: #0B3142;
  --primary: #BA5624; 
  --secondary: rgb(20, 206, 14);
}

/*
  General
*/
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  padding: 0;
}

h2 {
  color: var(--primary);
}

.App {
  font-size: calc(10px + 2vmin);
  width: 100%;
  min-height: 100vh;
  background: var(--bg-color);
  color: #fff;
  text-align: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas: "center";
}

.logo {
  padding: 10px
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*
  Song Search Input/Dropdown
*/
.songs__all {
  display: inline-block;
  vertical-align: top;
}

.marked__song > p {
  max-width: 200px;
  padding: 10px 0;
  margin: auto;
  border: 1px solid transparent;
  box-shadow: none;
  transition: all .1s .1s ease-in;
}

.marked__song > p:hover {
  cursor: pointer;
  color: var(--primary);
  border: 1px solid #000;
  border-radius: 5px;
  box-shadow: 0px 2px 10px #000;
}

.dropdown {
  display: none;
  width: cacl(100% - 15px);
  max-height: 300px;
  overflow: scroll;
  margin: auto;
  background: gray;
  position: relative;
  z-index: 2;
}

.dropdown.active {
  display: block;
  transition: all ease-in .5s;
}

.dropdown__item {
  list-style: none;
}

.dropdown__item:hover {
  color: var(--bg-color);
  cursor: pointer;
}


/*
  Controls
*/
.controls {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  flex: 4 1;
  order: 2;
}

.btn-play {
  cursor: pointer;
}

.time {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 1;
  flex: initial;
}

.time__duration {
  flex-basis: 75%;
  margin: 12px;
}

.duration {
  position: relative;
}

.duration__elapsed {
  position: absolute;
  background: var(--primary);
  -webkit-appearance: none;
  left: 0;
  width: 100%;
  border-radius: 5px;
}

.duration__elapsed::-webkit-slider-thumb {
  -webkit-appearance: none;
  color: var(--secondary);
  background: var(--secondary);
  -webkit-appearance: none;
  appearance: none;
  width: 8px;
  height: 10px;
  cursor: pointer;
}

.song__info {
  min-height: 50px;
  flex: 1;
  order: 0;
}

/*
  Play List
*/
.playlist {
  height: 100vh;
}

.playlist__zone {
  height: 100%;
}

/* Desktop styles */
@media screen and (min-width: 767px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 200px 100vh;
    grid-template-areas:
      "header header header header"
      "search . . playlist"
      "marked . . .";
  }

  header {
    grid-area: header;
    justify-content: flex-start;
  }

  .search-song__container {
    grid-area: search;
  }
  
  .marked-song__container {
    grid-area: marked;
    overflow: auto;
  }
  
  .playlist__container {
    grid-area: playlist;
  }

  header {
    grid-column: 1 / span 4;
  }
  
  .search-song__container,
  .marked-song__container {
    grid-column: 1;
  }
  
  .playlist__container {
    grid-column: 3;
  }

  .controls {
    flex-wrap: nowrap;
    order: 0;
  }

  .time {
    order:0;
    flex: 4 1;
  }
}